.container {
    width: 100%;
    transition: all 0.3s ease;
}

.items {
    position: relative;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
}

.items img {
    width: 100%;
    padding-bottom: 30px;
    transition: all 0.3s ease; 
}

.items h3 {
    color: #2f2f2f;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
}

.items strong {
    display: block;
    color: #2f2f2f;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
}

.items button {
    all: unset;
    width: 35px !important;
    height: 35px !important;
    min-width: 35px !important;
    max-width: 35px !important;
    border-radius: 50% !important;
    background: #2f2f2f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    bottom: -2rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}


.items::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
    height: 0;
    background: #dce5e4;
    z-index: 0;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.correctImage{
    width: 70px !important;
    height: 37px;
    z-index: 5;
    position: relative;
    top: 32px;
    padding-bottom: 0px !important;
}


@media (min-width: 601px) {
    .container:hover img {
        transform: translateY(-2rem);
    }

    .container:hover .items h3,
    .container:hover .items strong {
        top: -2rem;
    }

    .container:hover button {
        opacity: 1;
        visibility: visible;
        bottom: -2rem;
    }

    .container:hover .items::before {
        height: 80%;
    }
}


@media (max-width: 600px) {
    .items img {
        transform: translateY(-2rem);
    }

    .items h3,
    .items strong {
        top: -2rem;
    }

    .items button {
        opacity: 1;
        visibility: visible;
        bottom: -2rem;
    }

    .items::before {
        height: 80%;
    }
}