.blog img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.blogContent{
    margin: 10px;
}

.blog h1{
    text-decoration: none;
    color: #2f2f2f;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    font-family: "Inter", sans-serif;
}

.blog p{
    margin-top: 5px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #6a6a6a;
}

.blog p strong{
    line-height: 28px;
    cursor: pointer;
    color: #2f2f2f;
    text-decoration: none;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}